{# {% set videos = craft.entries().section('youtubeVideo') %}
{% set allVideos = videos.all() %}

{% for video in allVideos %}
<div class="video">

<a href="{{video.youtubeUrl}}">go</a>

</div>
{% endfor %} #}
big guns