<section class="hero-section">
	<div class="youtube-video">
		<iframe src="{{entry.heroSlider.youtubeVideoUrl}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	  <div class="swiper-container hero-slider">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
    
      {% for slide in entry.heroSlider.slides.all() %}
      	{# {{ dump(slide.heading) }} #}
      {% set image = slide.image.one() %}
        <div class="swiper-slide" style="background-image: url('{{image.url}}')">
            <div class="hero-slider__wrapper">
              <h3 class="hero-slider__headline">{{slide.heading}}</h3>
              <p class="hero-slider__subheadline">{{slide.copy}}</p>
            </div>
        </div>
      {% endfor %}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="wrapper">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>


  </div>
</section>





