
.accordion__button {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 5px 0px 5px 0px;
  font-size: 15px;
  color: #024488;
}

.active, .accordion__button:hover {
  background-color: #ccc;
}

.accordion__panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

td {
  padding: 10px;
}