.header {
  display: flex;
  flex-direction: column;

  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-family: "Roboto", helvetica, sans-serif;
  font-size: 1rem;
  justify-content: space-between;
  /*padding: 0 2rem;*/
  width: 100%;
  z-index: 9;

/*  @media (min-width: 768px) {
    padding: 0 4rem;
  }*/
  .header-image {
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 20px;

    .header-nav-logo {
      background-color: black;
      max-width: 90%;
  }
  }
  
}


.header-nav {



  &--desktop {
    border-bottom: 1px solid black;
    width: 100%;
    background-color: #FAFAFA;
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }

    ul {
      display: flex;
      flex-direction: row;
      max-width: 980px;
      margin: auto auto;
      justify-content: space-evenly;
  
      li {
        list-style: none;
        padding: 15px;
        text-align: center;
        z-index: 9999;

        .header-nav-children{
          display: none;
        }

        &:hover{
            .header-nav-children{
              display: flex;
              flex-direction: column;
              position: absolute;
              background-color: #FAFAFA;
              border: 1px solid black;

              li{
                padding: 10px 5px 10px 5px;
              }
            }
          }
      }
    }

    a {
      color: black;
      font-weight: 300;
      text-decoration: none;
      font-size: 14px;

    }

      a.navi-disable {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: black;
      }
  }

    &--mobile {
      background: #757575;
      font-family: "Roboto", helvetica, sans-serif;
      display: flex;
      position: absolute;
      z-index: 9;
      width: 100%;
      height: 100%;
      transition: all .3s ease;
      visibility: hidden;
      opacity: 0;

      &.active {
        visibility: visible;
        opacity: 1;
      }

       a.navi-disable {
              pointer-events: none;
              cursor: default;
              text-decoration: none;
            }

      ul.header-nav--mobile__menu {
        flex-direction: column;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        width: 100%;
        padding: 50px;

      }

      li {
        list-style: none;
        &:not(:first-of-type) {
          margin-top: 1.25rem;

          ul {
            display: none;
            text-decoration: none;
            list-style: none;
            padding: 10px;

            li a {
              color: #A0161F;
            }

           
          }

          ul.active {
            display: block;
          }

          img.mobile__menu__arrow.active {
            transform: rotate(45deg);
          }
      }

      a {
        color: white;
        text-decoration: none;
      }

      img {
        height: 15px;
      }
    }

    @media (min-width: 1100px) {
      display: none;
    }
    }

    &__hamburger {
      cursor: pointer;
      right: 1rem;
      top: 1rem;
      z-index: 9;
      float: right;
      position: relative;


      @media (min-width: 768px) {
        display: none;
      }
    }
}

/*.header-nav-logo {
  max-width: 300px;
}*/

.header-nav-toggle {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
