.content-blocks__gallery{
	flex-basis: 100%;
	.photo-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	&__card {
		flex-basis: 25%;
		display: flex;
    	flex-direction: column;


		img {
			height: 176px;
    		width: 219px !important;
		}

		p{
			padding-right: 10px;
    		padding-left: 10px;
    		text-align: center;
		}
	}
}
}
