.sidebar {
	display: flex;
    flex-direction: column;

    h2 {
    	color: #024488;
    }
    
    .cta-entry {
    	margin: 10px 0px;

    	img{
    		width: 260px;
    		height: 130px;
    	}
	}
}