.titled-box{
	display: flex;
    flex-direction: column;
	&__title {
		h5 {
			color: white;
    		background-color: #821615;
    		padding: 10px 0px 10px 15px;
    		font-size: 15px;
    		font-weight: 500;
    		margin-bottom: 0px;
		}
	}

	&__content {
		background-color: #f6f6f6;
    	padding: 10px 20px 10px 20px;
	}

	&-green {
		h5 {
			background-color: #719C55 !important;
		}
		
	}
}
