.youtube-videos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&__video {
		/* basic css*/
		box-sizing: border-box;

		&--two {
			flex-basis: 50%;

			iframe {
				height: 250px;
				width: 300px;
			}
		}

		&--three {
			flex-basis: 33%;

			iframe {
				height: 250px;

				@media (min-width: 768px) {
					height: 163px;
				width: 218px;
				}
				
			}
		}
	}
}