.quiz-container {
	
	.quizlib-explanation {
		display: none;
		background-color: #ADE1C1;
		border: 1px solid black;
    	border-radius: 14px;
    	padding: 10px 20px 10px 20px;

    	&__title {
    		font-weight: bold;
    		color: black;
    	}

    	&__content {
    		color: black;
    		line-height: 20px;
    	}
	}

	.quizlib-explanation.active {
		display: block;
	}
}