{% set ctas = craft.entries().section('sidebarCtas') %}
{% set ctaEntries = ctas.all() %}


<div class="sidebar">
	<h2>Free Trigger Locks</h2>
	<p>The Marion County Public Health Department is offering free trigger locks to Marion County residents on a one-per-family basis. The locks are available at several Indianapolis distribution sites. Each distribution site has free and convenient parking available.</p>
	{% for entry in ctaEntries %}
		<div class="cta-entry">
			{% set sidebarImage = entry.sidebarImage.one() %}

        	<a href="{{entry.sidebarUrl}}">
        		<img src="{{sidebarImage.url}}">
        	</a>
        </div>
    {% endfor %}
</div>