@import '_variables';
@import 'globals/header';
@import 'globals/footer';
@import 'pages/home';
@import 'pages/contact';
@import 'pages/quizzes';
@import 'pages/youth';
@import 'globals/sidebar';
@import 'globals/copyModule';
@import 'globals/splitTextImage';
@import 'globals/accordion';
@import 'globals/titledBox';
@import 'globals/photoGallery';



@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

a {
  transition: color ease .5s;
  color: #024488;
    text-decoration: none;

  &:hover {
    color: #757575;
  }
}

a:hover {
    /*:Link Hover*/
    /*color:#888@;*/
    text-decoration: none;
}

body {
  margin: 0;
}

button {
  font-family: 'Roboto', helvetica,sans-serif;
}

ul {
  padding-left: 0;
}

body {
    /*:Body Font */
    color: #666;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    /*:h1 Font*/
    color: #024488;
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    font-family: ptsans;
}

h2 {
    /*:h2 Font*/
    color: #024488;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-family: ptsans;
}

h3 {
    /*:h3 Font*/
    color: #024488;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-family: ptsans;
}

h4 {
    /*:h4 Font*/
    color: #444;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-family: ptsans;
}

h5 {
    /*:h5 Font*/
    /*color:#444@;*/
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-family: inherit;
}

h6 {
    /*:h6 Font*/
    color: #aaa;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-family: inherit;
}





.header-nav--desktop ul li ul li:hover {
    background: url(styles/_rgba/black02.png);
    background: rgba(0,0,0,.02);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.02) inset;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.5),0 1px 0 rgba(0,0,0,.02) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.02) inset;
}


.wrapper {
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 1rem;
}

.module {
  padding: 4rem 0;
}

.content-wrapper {
      padding: 2rem 2rem;
      justify-content: space-between;


      

     @media (min-width: 995px) {
      display: flex;
      margin: 0 auto;
      max-width: 1200px;
      padding: 4rem 0;
      flex-direction: column;
      padding-top: 15px;
    }
    
      .content-wrapper__inner {
        
        flex-direction: column;

        @media (min-width: 768px) {
          display: flex;
          padding: 0px;
          justify-content: space-between;
          flex-direction: row;
        }
      }
}


.sidebar {
  flex-basis: 20%;
}

.content-blocks {
  flex-basis: 70%;
  width: 100%;

  img {
    width: 100%;
    max-width: 500px;
    display:block;
    margin:auto;
  }
}

.hero-section { 
  display: flex;
  flex-direction: column;
  
  align-items: center;
  padding: 4rem 0;


  @media (min-width: 768px) {
    flex-direction: row;
    height: 300px;
  }

  .youtube-video{

    width: 100%;

    iframe {
      height: 285px;
      width: 100%;
    }

    @media (min-width: 768px) {
      flex-basis: 35%;
      height: 100%;

      iframe {
        height: 100%;
        width: 100%;
      }
    }
  }


  .swiper-container.hero-slider {

        height: 250px;
    width: 100%;

    
    @media (min-width: 768px) {
      flex-basis: 60%;
      width: 100%;
      height: 100%;
    }

    
    
    .swiper-wrapper {
      .swiper-slide {
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-size: cover;

        .hero-slider__wrapper {

          width: 100%;

          h3 {
            color: white;
          }

              position: absolute;
              bottom: 0;
              left: 0;
              z-index: 500;
              width: auto;
              background: #222;
              color: #fff;
              opacity: 0.7;
              text-align: left;
              padding: 15px;
        }
      }
    }
  }
}


/*contact for now*/
.contact {
  .content-wrapper__inner {
    @media (min-width: 768px) {
      justify-content: space-around;

    }

    &_left {
      flex-basis: 25%;

      iframe {
        width: 100%;
        height: auto;
      }
    }
    &_right {
      flex-basis: 50%;

      input, textarea {
        width: 100%;
      }

      
    }
  }

  
}
