@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-family: "Roboto", helvetica, sans-serif;
  font-size: 1rem;
  justify-content: space-between;
  /*padding: 0 2rem;*/
  width: 100%;
  z-index: 9;
  /*  @media (min-width: 768px) {
    padding: 0 4rem;
  }*/ }
  .header .header-image {
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 20px; }
    .header .header-image .header-nav-logo {
      background-color: black;
      max-width: 90%; }

.header-nav--desktop {
  border-bottom: 1px solid black;
  width: 100%;
  background-color: #FAFAFA;
  display: none; }
  @media (min-width: 768px) {
    .header-nav--desktop {
      display: flex; } }
  .header-nav--desktop ul {
    display: flex;
    flex-direction: row;
    max-width: 980px;
    margin: auto auto;
    justify-content: space-evenly; }
    .header-nav--desktop ul li {
      list-style: none;
      padding: 15px;
      text-align: center;
      z-index: 9999; }
      .header-nav--desktop ul li .header-nav-children {
        display: none; }
      .header-nav--desktop ul li:hover .header-nav-children {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #FAFAFA;
        border: 1px solid black; }
        .header-nav--desktop ul li:hover .header-nav-children li {
          padding: 10px 5px 10px 5px; }
  .header-nav--desktop a {
    color: black;
    font-weight: 300;
    text-decoration: none;
    font-size: 14px; }
  .header-nav--desktop a.navi-disable {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black; }

.header-nav--mobile {
  background: #757575;
  font-family: "Roboto", helvetica, sans-serif;
  display: flex;
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  transition: all .3s ease;
  visibility: hidden;
  opacity: 0; }
  .header-nav--mobile.active {
    visibility: visible;
    opacity: 1; }
  .header-nav--mobile a.navi-disable {
    pointer-events: none;
    cursor: default;
    text-decoration: none; }
  .header-nav--mobile ul.header-nav--mobile__menu {
    flex-direction: column;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    padding: 50px; }
  .header-nav--mobile li {
    list-style: none; }
    .header-nav--mobile li:not(:first-of-type) {
      margin-top: 1.25rem; }
      .header-nav--mobile li:not(:first-of-type) ul {
        display: none;
        text-decoration: none;
        list-style: none;
        padding: 10px; }
        .header-nav--mobile li:not(:first-of-type) ul li a {
          color: #A0161F; }
      .header-nav--mobile li:not(:first-of-type) ul.active {
        display: block; }
      .header-nav--mobile li:not(:first-of-type) img.mobile__menu__arrow.active {
        transform: rotate(45deg); }
    .header-nav--mobile li a {
      color: white;
      text-decoration: none; }
    .header-nav--mobile li img {
      height: 15px; }
  @media (min-width: 1100px) {
    .header-nav--mobile {
      display: none; } }

.header-nav__hamburger {
  cursor: pointer;
  right: 1rem;
  top: 1rem;
  z-index: 9;
  float: right;
  position: relative; }
  @media (min-width: 768px) {
    .header-nav__hamburger {
      display: none; } }

/*.header-nav-logo {
  max-width: 300px;
}*/
.header-nav-toggle {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem; }

footer {
  bottom: 0;
  height: 50px;
  background-color: black;
  width: 100%;
  color: white; }

.youtube-videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .youtube-videos__video {
    /* basic css*/
    box-sizing: border-box; }
    .youtube-videos__video--two {
      flex-basis: 50%; }
      .youtube-videos__video--two iframe {
        height: 250px;
        width: 300px; }
    .youtube-videos__video--three {
      flex-basis: 33%; }
      .youtube-videos__video--three iframe {
        height: 250px; }
        @media (min-width: 768px) {
          .youtube-videos__video--three iframe {
            height: 163px;
            width: 218px; } }

.quiz-container .quizlib-explanation {
  display: none;
  background-color: #ADE1C1;
  border: 1px solid black;
  border-radius: 14px;
  padding: 10px 20px 10px 20px; }
  .quiz-container .quizlib-explanation__title {
    font-weight: bold;
    color: black; }
  .quiz-container .quizlib-explanation__content {
    color: black;
    line-height: 20px; }

.quiz-container .quizlib-explanation.active {
  display: block; }

.gun-safety-rules-for-youth .titled-box__title h5 {
  background-color: #9F151E; }

.sidebar {
  display: flex;
  flex-direction: column; }
  .sidebar h2 {
    color: #024488; }
  .sidebar .cta-entry {
    margin: 10px 0px; }
    .sidebar .cta-entry img {
      width: 260px;
      height: 130px; }

.copy-module {
  padding: 25px 0px 25px 0px; }
  .copy-module ul {
    margin-left: 30px; }
  .copy-module li {
    padding-bottom: 10px; }
    .copy-module li ol {
      padding-top: 10px; }
  .copy-module h3 {
    color: #024488; }

.split-text-image {
  display: flex;
  align-items: center; }
  .split-text-image__text {
    flex-basis: 60%; }
  .split-text-image__image {
    padding: 10px; }

.accordion__button {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 5px 0px 5px 0px;
  font-size: 15px;
  color: #024488; }

.active, .accordion__button:hover {
  background-color: #ccc; }

.accordion__panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden; }

td {
  padding: 10px; }

.titled-box {
  display: flex;
  flex-direction: column; }
  .titled-box__title h5 {
    color: white;
    background-color: #821615;
    padding: 10px 0px 10px 15px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0px; }
  .titled-box__content {
    background-color: #f6f6f6;
    padding: 10px 20px 10px 20px; }
  .titled-box-green h5 {
    background-color: #719C55 !important; }

.content-blocks__gallery {
  flex-basis: 100%; }
  .content-blocks__gallery .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .content-blocks__gallery .photo-gallery__card {
      flex-basis: 25%;
      display: flex;
      flex-direction: column; }
      .content-blocks__gallery .photo-gallery__card img {
        height: 176px;
        width: 219px !important; }
      .content-blocks__gallery .photo-gallery__card p {
        padding-right: 10px;
        padding-left: 10px;
        text-align: center; }

a {
  transition: color ease .5s;
  color: #024488;
  text-decoration: none; }
  a:hover {
    color: #757575; }

a:hover {
  /*:Link Hover*/
  /*color:#888@;*/
  text-decoration: none; }

body {
  margin: 0; }

button {
  font-family: 'Roboto', helvetica,sans-serif; }

ul {
  padding-left: 0; }

body {
  /*:Body Font */
  color: #666;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif; }

h1 {
  /*:h1 Font*/
  color: #024488;
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  font-family: ptsans; }

h2 {
  /*:h2 Font*/
  color: #024488;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-family: ptsans; }

h3 {
  /*:h3 Font*/
  color: #024488;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-family: ptsans; }

h4 {
  /*:h4 Font*/
  color: #444;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: ptsans; }

h5 {
  /*:h5 Font*/
  /*color:#444@;*/
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-family: inherit; }

h6 {
  /*:h6 Font*/
  color: #aaa;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-family: inherit; }

.header-nav--desktop ul li ul li:hover {
  background: url(styles/_rgba/black02.png);
  background: rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.02) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.02) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(0, 0, 0, 0.02) inset; }

.wrapper {
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 1rem; }

.module {
  padding: 4rem 0; }

.content-wrapper {
  padding: 2rem 2rem;
  justify-content: space-between; }
  @media (min-width: 995px) {
    .content-wrapper {
      display: flex;
      margin: 0 auto;
      max-width: 1200px;
      padding: 4rem 0;
      flex-direction: column;
      padding-top: 15px; } }
  .content-wrapper .content-wrapper__inner {
    flex-direction: column; }
    @media (min-width: 768px) {
      .content-wrapper .content-wrapper__inner {
        display: flex;
        padding: 0px;
        justify-content: space-between;
        flex-direction: row; } }

.sidebar {
  flex-basis: 20%; }

.content-blocks {
  flex-basis: 70%;
  width: 100%; }
  .content-blocks img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto; }

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0; }
  @media (min-width: 768px) {
    .hero-section {
      flex-direction: row;
      height: 300px; } }
  .hero-section .youtube-video {
    width: 100%; }
    .hero-section .youtube-video iframe {
      height: 285px;
      width: 100%; }
    @media (min-width: 768px) {
      .hero-section .youtube-video {
        flex-basis: 35%;
        height: 100%; }
        .hero-section .youtube-video iframe {
          height: 100%;
          width: 100%; } }
  .hero-section .swiper-container.hero-slider {
    height: 250px;
    width: 100%; }
    @media (min-width: 768px) {
      .hero-section .swiper-container.hero-slider {
        flex-basis: 60%;
        width: 100%;
        height: 100%; } }
    .hero-section .swiper-container.hero-slider .swiper-wrapper .swiper-slide {
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-size: cover; }
      .hero-section .swiper-container.hero-slider .swiper-wrapper .swiper-slide .hero-slider__wrapper {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 500;
        width: auto;
        background: #222;
        color: #fff;
        opacity: 0.7;
        text-align: left;
        padding: 15px; }
        .hero-section .swiper-container.hero-slider .swiper-wrapper .swiper-slide .hero-slider__wrapper h3 {
          color: white; }

/*contact for now*/
@media (min-width: 768px) {
  .contact .content-wrapper__inner {
    justify-content: space-around; } }

.contact .content-wrapper__inner_left {
  flex-basis: 25%; }
  .contact .content-wrapper__inner_left iframe {
    width: 100%;
    height: auto; }

.contact .content-wrapper__inner_right {
  flex-basis: 50%; }
  .contact .content-wrapper__inner_right input, .contact .content-wrapper__inner_right textarea {
    width: 100%; }
