<footer>
	<script src="{{ siteUrl }}js/vendor/quizlib.1.0.1.min.js"></script>
	<script src="{{ siteUrl }}js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ siteUrl }}css/vendor/quizlib.css">
  {% if entry.heroSlider|length %}



  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      spaceBetween: 100,
      centeredSlides: true,
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>

  {% endif %}
	<div class="wrapper">2020 <a href="https://matchbookcreative.com">Matchbook</a></div>
</footer>