{% set mainNavQuery = craft.navigation.nodes().handle('mainNav') %}
{% set mainNodes = mainNavQuery.all() %}

{# Display their contents #}
<header>
  <div class="header">
    <div class="header-image">
      <img class="header-nav-logo" src="/images/banner2.jpg" />
    </div>
    <nav class="header-nav--desktop">
      <ul>
        {% nav node in mainNodes %}
          <li>
            {{ node.link }}
            {% ifchildren %}
              <ul class="header-nav-children">
                  {% children %}
              </ul>
            {% endifchildren %}
          </li>
        {% endnav %}
      </ul>
    </nav>
    <div class="header-nav-toggle">
      
    </div>
  </div>

    <div class="header-nav__hamburger" data-menu-toggle>
      <img src="/images/menu.svg" />
  </div>

  <nav class="header-nav header-nav--mobile">
    <div class="header-nav-toggle" data-menu-close>
      <img src="/images/close.svg" />
    </div>
    <ul class="header-nav--mobile__menu">
      {% nav node in mainNodes %}
        <li>
          {{ node.link }}
          {% ifchildren %}
            <img src="/images/chevron-arrow-down.svg" class="mobile__menu__arrow" data-submenu-toggle={{loop.index}} />
            <ul data-submenu={{loop.index}} class="sub-menu">
                {% children %}
            </ul>
          {% endifchildren %}
        </li>
      {% endnav %}
    </ul>
  </nav>
</header>


