{% extends 'layout' %}

{% block content %}

<div class="content-wrapper">
    <h1>{{entry.section.name}}</h1>
    <!-- Quiz Results -->
        <div id="quiz-result" class="card">
            You Scored <span id="quiz-percent"></span>% - <span id="quiz-score"></span>/<span id="quiz-max-score"></span><br/>
        </div>

        <div class="content-wrapper__inner">

    
        {% include "_modules/_controller" %}

        <!-- Quiz Container -->
        <div id="quiz-1" class="quiz-container">
            <!-- Question 1 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">Which local health organization offers two types of gun locks at low cost?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q1" value="a">Eskenazi Health</label></li>
                        <li><label><input type="radio" name="q1" value="b">Riley Hospital for Children</label></li>
                        <li><label><input type="radio" name="q1" value="c">Indiana Health and Safety Network</label></li>

                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 1 Explanation:</p>
                    <p class="quizlib-explanation__content">The Riley Hospital for Children’s Safety Store stocks both trigger locks and cable locks for less than $10 each. For more information, contact the Safety Store at (317) 944-6565.</p>
                </div>
            </div>
            <!-- Question 2 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">How many guns are confiscated in Marion County each year for illegal possession?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q2" value="a">500 or less</label></li>
                        <li><label><input type="radio" name="q2" value="b">800 – 1,000</label></li>
                        <li><label><input type="radio" name="q2" value="c">1,200 – 1,500</label></li>
                        <li><label><input type="radio" name="q2" value="d">2,500 or more</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 2 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: D – 2,500 or more
                    <br>
                    Source: Indianapolis Metropolitan Police Department</p>
                </div>
            </div>
            <!-- Question 3 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">In Marion County, gun licenses are issued by the:</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q3" value="a">FBI</label></li>
                        <li><label><input type="radio" name="q3" value="b">Indiana State Police</label></li>
                        <li><label><input type="radio" name="q3" value="c">Indianapolis Metropolitan Police Department</label></li>
                        <li><label><input type="radio" name="q3" value="d">U.S. Bureau of Alcohol, Tobacco, Firearms & Explosives</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 3 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer:  B – Indiana State Police
                    <br>
                    Note: Gun licenses are issued by the Indiana State Police, but application fees must be paid through the local police department.</p>
                </div>
            </div>
            <!-- Answer Button -->
            <button type="button" onclick="showResults(this.parentNode.id);">Check Answers</button>
        </div>
        {% if entry.sidebarCtas %}
      {% include 'partials/sidebar/index' %}
    {% endif %}
</div> 
</div> 

{% endblock %}
