{% extends 'layout' %}

{% block content %}

<div class="content-wrapper">
    <h1>{{entry.section.name}}</h1>
    <!-- Quiz Results -->
        <div id="quiz-result" class="card">
            You Scored <span id="quiz-percent"></span>% - <span id="quiz-score"></span>/<span id="quiz-max-score"></span><br/>
        </div>

        <div class="content-wrapper__inner">

    
        {% include "_modules/_controller" %}

        
        <!-- Quiz Container -->
        <div id="quiz-2" class="quiz-container">
            <!-- Question 1 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">Which number represents the closest estimate of the average number of background checks conducted each day for gun purchases and other gun-related transactions in the U.S.?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q1" value="a">Under 500 per day</label></li>
                        <li><label><input type="radio" name="q1" value="b">4,500 per day</label></li>
                        <li><label><input type="radio" name="q1" value="c">25,000 per day</label></li>
                        <li><label><input type="radio" name="q1" value="d">45,000 per day</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 1 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: D - 45,000 per day <br> Note: This estimate is based on data reported by the National Instant Criminal Background Check System for a four-year period between 2010 and 2013.</p>
                </div>
            </div>
            <!-- Question 2 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">During which time of year does the number of firearm background checks typically increase?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q2" value="a">Major hunting seasons</label></li>
                        <li><label><input type="radio" name="q2" value="b">Christmas</label></li>
                        <li><label><input type="radio" name="q2" value="c">Thanksgiving</label></li>
                        <li><label><input type="radio" name="q2" value="d">All of the above</label></li>
                        <li><label><input type="radio" name="q2" value="e">Answers A and B only</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 2 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: D - All of the above</br>
                    Note: According to the National Instant Criminal Background Check System, the highest numbers of background checks coincide with major hunting seasons and end-of-year holidays.</p>
                </div>
            </div>
            <!-- Question 3 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">Federal regulations prohibit which of the following types of toy guns and imitation firearms?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q3" value="a">Guns constructed entirely of transparent materials</label></li>
                        <li><label><input type="radio" name="q3" value="b">Guns with the entire exterior surface painted in a medium brown color</label></li>
                        <li><label><input type="radio" name="q3" value="c">Guns with dark blue or black exteriors even if they are compliant with other regulations</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 3 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: B- Guns with the entire exterior surface painted in a medium brown color.</br>
                    Source: Code of Federal Regulations – Title 15, Part 272</p>
                </div>
            </div>
             <!-- Question 4 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">A 1990 study found that U.S. police officers actually used force or threatened to use force in confrontations where imitation guns were mistaken for real guns at the rate of ________________.</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q4" value="a">Less than 20 incidents per year</label></li>
                        <li><label><input type="radio" name="q4" value="b">50 – 60 incidents per year</label></li>
                        <li><label><input type="radio" name="q4" value="c">100 – 120 incidents per year</label></li>
                        <li><label><input type="radio" name="q4" value="d">Over 200 incidents per year</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 4 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: D - 200</br>
                    Note: United States Department of Justice statistic retrieved from www.nation.time.com/2013/10/25/toy-guns-deadly-consequences/</p>
                </div>
            </div>
             <!-- Question 5 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">In the United States, experts estimate that _______________ children and teenagers under 18 live in homes where guns are kept loaded and improperly stored (not secured with a locking device).</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q5" value="a">500,000</label></li>
                        <li><label><input type="radio" name="q5" value="b">1 million</label></li>
                        <li><label><input type="radio" name="q5" value="c">2 million</label></li>
                    </ul>
                </div>
                 <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 5 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: C – 2 million</br>
                    Source: Children’s Defense Fund</p>
                </div>
            </div>
            <!-- Question 6 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">Approximately how many children do U.S. hospital emergency departments treat each year for gun-related injuries?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q6" value="a">200</label></li>
                        <li><label><input type="radio" name="q6" value="b">2,000</label></li>
                        <li><label><input type="radio" name="q6" value="c">20,000</label></li>
                    </ul>
                </div>
                 <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 6 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: C – 20,000</br>
                    Source: ABC News</br>
                    Note: Statistic retrieved from abcnews.go.com/health/guns-wound-30-percent-kids-study-finds/story?id=14741514</p>
                </div>
            </div>
            <!-- Answer Button -->
            <button type="button" onclick="showResults(this.parentNode.id);">Check Answers</button>
        </div>
         {% if entry.sidebarCtas %}
      {% include 'partials/sidebar/index' %}
    {% endif %}
</div> 
</div> 

{% endblock %}
