{% extends 'layout' %}

{% block content %}

<div class="content-wrapper">
    <h1>{{entry.section.name}}</h1>
    <!-- Quiz Results -->
        <div id="quiz-result" class="card">
            You Scored <span id="quiz-percent"></span>% - <span id="quiz-score"></span>/<span id="quiz-max-score"></span><br/>
        </div>

        <div class="content-wrapper__inner">

    
        {% include "_modules/_controller" %}

        
        <!-- Quiz Container -->
        <div id="quiz-3" class="quiz-container">
            <!-- Question 1 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">Approximately how many people are victims of gun-related murders each day in the U.S.?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q1" value="a">5</label></li>
                        <li><label><input type="radio" name="q1" value="b">10</label></li>
                        <li><label><input type="radio" name="q1" value="c">20</label></li>
                        <li><label><input type="radio" name="q1" value="d">30</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 1 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: D - 30</br>
                    Source: Brady Campaign to Prevent Gun Violence Retrieved from http://www.bradycampaign.org/key-gun-violence-statistics</p>
                </div>
            </div>
            <!-- Question 2 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">There is an average of 182 gun violence victims shot in murders and assaults each _________ in the U.S.</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q2" value="a">Day</label></li>
                        <li><label><input type="radio" name="q2" value="b">Week</label></li>
                        <li><label><input type="radio" name="q2" value="c">Month</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 2 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: A - Day</br>
                    Source: Brady Campaign To Prevent Gun Violence</br>
                    Note: This statistic includes victims of gun-related murders and gun-related assaults. It does not include gun-related suicides, unintentional shootings, police action shootings or shootings in which the intent was unknown.
                    Statistical data retrieved from http://www.bradycampaign.org/key-gun-violence-statistics</p>
                </div>
            </div>
            <!-- Question 3 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">Which of the following is the closest estimate of the number of lives claimed by gun violence each year in the U.S.?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q3" value="a">5,000</label></li>
                        <li><label><input type="radio" name="q3" value="b">10,000</label></li>
                        <li><label><input type="radio" name="q3" value="c">20,000</label></li>
                        <li><label><input type="radio" name="q3" value="d">30,000</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 3 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: D – 30,000</br>
                    Source: United States Centers for Disease Control and Prevention</p>
                </div>
            </div>
             <!-- Question 4 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">U.S. hospital emergency rooms treat approximately 140 people each ______________ for injuries sustained in gun-related assaults.</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q4" value="a">Day</label></li>
                        <li><label><input type="radio" name="q4" value="b">Week</label></li>
                        <li><label><input type="radio" name="q4" value="c">Month</label></li>
                    </ul>
                </div>
                 <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 4 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: A - Day</br>
                    Source: Brady Campaign To Prevent Gun Violence</p>
                </div>
            </div>
             <!-- Question 5 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">What is the total annual cost of hospital charges for treating victims of firearm-related injuries in the U.S.?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q5" value="a">Under $600 Million</label></li>
                        <li><label><input type="radio" name="q5" value="b">$750 Million</label></li>
                        <li><label><input type="radio" name="q5" value="c">$1 Billion</label></li>
                        <li><label><input type="radio" name="q5" value="d">Over $2 Billion</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 5 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: D – Over $2 Billion</br>
                    Source: Tabachnick, C. (2013). The Public Health Cost of Gun Violence. The Crime Report. Retrieved from www.thecrimereport.org/news/inside-criminal-justice/2013-11-the-public-health-cost-of-gun-violence</p>
                </div>
            </div>
            <!-- Question 6 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">What proportion of suicides in the U.S. is completed with guns?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q6" value="a">Less than 25%</label></li>
                        <li><label><input type="radio" name="q6" value="b">Approximately 35%</label></li>
                        <li><label><input type="radio" name="q6" value="c">Over 50%</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 6 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: C – Over 50%</br>
                    Source: Barber, C.W. & Miller, M.J. (2014). Reducing a Suicidal Person’s Access to Lethal Means of Suicide. American Journal of Preventive Medicine, 47(3), S264-S272. Retrieved from www.ajpmonline.org/article/S0749-3797(14)00247-5/pdf</p>
                </div>
            </div>
             <!-- Question 7 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">Approximately how many people in the U.S. each day commit suicide with a gun?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q7" value="a">20</label></li>
                        <li><label><input type="radio" name="q7" value="b">30</label></li>
                        <li><label><input type="radio" name="q7" value="c">40</label></li>
                        <li><label><input type="radio" name="q7" value="d">50</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 7 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: D – 50</br>
                    Source: Brady Campaign To Prevent Gun Violence</p>
                </div>
            </div>
             <!-- Question 8 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">One study of gun-related youth suicide attempts and unintentional injuries found that ____________________ of these incidents involved guns stored in the home of the victim, a relative, or a friend.</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q8" value="a">Less than 25%</label></li>
                        <li><label><input type="radio" name="q8" value="b">Between 50% - 60%</label></li>
                        <li><label><input type="radio" name="q8" value="c">More than 75%</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 8 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: C – More than 75%</br>
                    Source: Law Center To Prevent Gun Violence</br>
                    Retrieved from smartgunlaws.org/guns-in-the-homesafe-storage-statistics/</p>
                </div>
            </div>
             <!-- Question 9 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">What is the approximate number of people injured or killed in unintentional shootings each day in the U.S.?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q6" value="a">5</label></li>
                        <li><label><input type="radio" name="q6" value="b">15</label></li>
                        <li><label><input type="radio" name="q6" value="c">25</label></li>
                        <li><label><input type="radio" name="q6" value="d">45</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 9 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: D - 45</br>
                    Source: Brady Campaign to Prevent Gun Violence</p>
                </div>
            </div>
            <!-- Answer Button -->
            <button type="button" onclick="showResults(this.parentNode.id);">Check Answers</button>
        </div>
             {% if entry.sidebarCtas %}
      {% include 'partials/sidebar/index' %}
    {% endif %}
</div> 
</div> 

{% endblock %}
