{% extends 'layout' %}

{% block content %}

<div class="content-wrapper">
    <h1>{{entry.section.name}}</h1>
    <!-- Quiz Results -->
        <div id="quiz-result" class="card">
            You Scored <span id="quiz-percent"></span>% - <span id="quiz-score"></span>/<span id="quiz-max-score"></span><br/>
        </div>

        <div class="content-wrapper__inner">

    
        {% include "_modules/_controller" %}
        
        <!-- Quiz Container -->
        <div id="quiz-4" class="quiz-container">
            <!-- Question 1 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">Since a semi-automatic handguns magazine holds the bullets, the best way to be sure that the gun is unloaded is simply to remove the magazine from the gun. True or False?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q1" value="a">True</label></li>
                        <li><label><input type="radio" name="q1" value="b">False</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 1 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: False<br>
                    Explanation:  A bullet may still be in the chamber even when the magazine has been removed from a semi-automatic handgun. The only way to ensure that this type of gun is unloaded is to follow these steps:
                    <br>
                    1) Remove the magazine from the gun.
                    <br>
                    2) Rack the slide to eject any remaining rounds from the gun.
                    <br>
                    Some gun owners prefer to rack the slide at least two or three times for a greater level of confidence and reassurance that all rounds have been ejected.
                    <br>
                    3) Lock the slide into its rear position.
                     <br>
                    4) Perform a thorough visual inspection of the magazine well and chamber to make sure that the gun is empty or clear of any rounds. The thorough visual inspection is the last step to take before securing the gun in a safe storage location. 
                    <br>
                    Note: When handling a gun, always be sure to keep the muzzle pointed in a safe direction.</p>
                </div>
            </div>
            <!-- Question 2 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">If you keep a loaded gun in your home for protection, it should not be kept in a gun safe or lock box because then you will not be able to quickly access the gun if you need to defend yourself against an intruder. True or False?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q2" value="a">True</label></li>
                        <li><label><input type="radio" name="q2" value="b">False</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 2 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: False
                    <br>
                    Explanation: There are a number of gun safes and lock boxes on the market that are designed to keep guns secured while allowing quick access. </p>
                </div>
            </div>
            <!-- Question 3 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">The single biggest concern about imitation guns that resemble real guns is that a child or a teenager who points an imitation gun at a police officer risks being shot or even killed if the officer believes  the gun is real. True or False?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q3" value="a">True</label></li>
                        <li><label><input type="radio" name="q3" value="b">False</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 3 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: False
                    <br>
                    Explanation: While this situation is a possibility that deeply concerns many Americans, children still face greater risk from unsecured firearms in the home. Some children have been injured or killed after picking up a real gun in the home while mistaking it for a toy.</p>
                </div>
            </div>
            <!-- Answer Button -->
            <button type="button" onclick="showResults(this.parentNode.id);">Check Answers</button>
        </div>
            {% if entry.sidebarCtas %}
      {% include 'partials/sidebar/index' %}
    {% endif %}
</div> 
</div> 

{% endblock %}
