{% extends 'layout' %}

{% block content %}

<div class="content-wrapper">
    <h1>{{entry.section.name}}</h1>
    <!-- Quiz Results -->
        <div id="quiz-result" class="card">
            You Scored <span id="quiz-percent"></span>% - <span id="quiz-score"></span>/<span id="quiz-max-score"></span><br/>
        </div>

        <div class="content-wrapper__inner">

    
        {% include "_modules/_controller" %}
        <!-- Quiz Container -->
        <div id="quiz-5" class="quiz-container">
            <!-- Question 1 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">An Indiana resident must be how old to obtain a handgun license?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q1" value="a">At least 21 years of age in all cases</label></li>
                        <li><label><input type="radio" name="q1" value="b">At least 18 years of age in all cases</label></li>
                        <li><label><input type="radio" name="q1" value="c">At least 18 years of age in most cases and at least 21 in some cases</label></li>
                        <li><label><input type="radio" name="q1" value="c">At least 18 years of age in most cases and at least 23 in some cases</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 1 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: D -  At least 18 years of age in most cases and at least 23 in some cases
                    <br>
                    Note:  In regard to age requirements, “A license to carry a handgun shall not be issued to any person who is under 18 years of age or who is under 23 years of age if the person has been adjudicated a delinquent child for an act that would be considered a felony if committed by an adult.”
                    <br>
                    Source: Indiana Code 35-47-2-3</p>
                </div>
            </div>
            <!-- Question 2 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">In Indiana, what is the penalty for illegally carrying a handgun without a license as a first time offense if the person is charged as an adult?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q2" value="a">Up to 1 year in jail with fines up to $5,000</label></li>
                        <li><label><input type="radio" name="q2" value="b">Up to 6 months in jail with fines up to $2,500</label></li>
                        <li><label><input type="radio" name="q2" value="c">Up to 90 days in jail with fines up to $1,000</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 2 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer:  A - Up to 1 year in jail with fines up to $5,000 </p>
                </div>
            </div>
            <!-- Question 3 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">In Indiana, what is the penalty for illegally carrying a gun on school property as a first time offense if the person is charged as an adult?</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q3" value="a">Up to 6 years in prison with fines up to $10,000</label></li>
                        <li><label><input type="radio" name="q3" value="b">Up to 4 years in prison with fines up to $5,000</label></li>
                        <li><label><input type="radio" name="q3" value="c">Up to 2 years in prison with fines up to $2,500</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 3 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer: A - Up to 6 years in prison with fines up to $10,000  
                    <br>
                    Note: Carrying a handgun without a license on school property is a direct file offense for a juvenile who is at least 16 years of age, meaning that the case will go directly to adult court.</p>
                </div>
            </div>
                        <!-- Question 4 -->
            <div class="card quizlib-question">
                <div class="quizlib-question-title">A person cannot legally be issued a firearm license if he or she:</div>
                <div class="quizlib-question-answers">
                    <ul>
                        <li><label><input type="radio" name="q4" value="a">Has been convicted of a felony</label></li>
                        <li><label><input type="radio" name="q4" value="b">Abuses alcohol or drugs</label></li>
                        <li><label><input type="radio" name="q4" value="c">Has been ruled mentally incompetent</label></li>
                        <li><label><input type="radio" name="q4" value="d">Has a dishonorable discharge from the U.S. Armed Forces</label></li>
                        <li><label><input type="radio" name="q4" value="e">All of the above</label></li>
                        <li><label><input type="radio" name="q4" value="f">A, B and C only</label></li>
                    </ul>
                </div>
                <div class="quizlib-explanation">
                    <p class="quizlib-explanation__title">Question 4 Explanation:</p>
                    <p class="quizlib-explanation__content">Correct Answer:  E - All of the above 
                    <br>
                    Note: These restrictions come from both federal and state law. The possible answers for this question represent a partial list of restrictions. 
                    
                    Sources: Indiana Code 35-47-2-3; U.S. Gun Control Act: Title 18, Section 922  </p>
                </div>
            </div>
            <!-- Answer Button -->
            <button type="button" onclick="showResults(this.parentNode.id);">Check Answers</button>
        </div>
                 {% if entry.sidebarCtas %}
      {% include 'partials/sidebar/index' %}
    {% endif %}
</div> 
</div> 

{% endblock %}
