{% extends 'layout' %}

{% block content %}


<div class="content-wrapper contact">
	
	<div class="content-wrapper__inner">

		<div class="content-wrapper__inner_left">
			<h1>{{entry.section.name}}</h1>
			{% include "_modules/_controller" %}

			<div class="mapouter">

				<iframe id="gmap_canvas" src="https://maps.google.com/maps?q=2868%20N.%20Pennsylvania%20St.%20Indianapolis%2C%20IN%2046205&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

			</div>
  
		</div>
		<div class="content-wrapper__inner_right">
			{% macro errorList(errors) %}
    			{% if errors %}
        			<ul class="errors">
            			{% for error in errors %}
                			<li>{{ error }}</li>
            			{% endfor %}
        			</ul>
    			{% endif %}
			{% endmacro %}

			{% if craft.app.session.hasFlash('notice') %}
    			<p class="message notice">{{ craft.app.session.getFlash('notice') }}</p>
			{% elseif craft.app.session.hasFlash('error') %}
    			<p class="message error">{{ craft.app.session.getFlash('error') }}</p>
			{% endif %}

			{% from _self import errorList %}

			<form method="post" action="" accept-charset="UTF-8">
    			{{ csrfInput() }}
    			<input type="hidden" name="action" value="contact-form/send">

    			<h3><label for="from-name">Name</label></h3>
    			<input id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}">
    			{{ message is defined and message ? errorList(message.getErrors('fromName')) }}

    			<h3><label for="from-email">Email</label></h3>
    			<input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}">
    			{{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}


    			<h3><label for="from-phone">Phone number</label></h3>
				<input id="form-phone" type="text" name="message[Phone]" value="">
				{{ message is defined and message ? errorList(message.getErrors('fromPhone')) }}

    			<h3><label for="message">Comment or inquiry</label></h3>
    			<textarea rows="10" cols="40" id="message" name="message">{{ message.message ?? '' }}</textarea>
    			{{ message is defined and message ? errorList(message.getErrors('message')) }}

   	 			<input type="submit" value="Send">
			</form>
  
		</div>
	</div>
</div>
{% endblock %}