{% extends 'layout' %}

{% block content %}


<div class="content-wrapper">
	<h1>{{entry.section.name}}</h1>


	<div class="content-wrapper__inner">



	<div class="content-blocks__gallery">

		{% include "_modules/_controller" %}
	</div>
  
	{% if entry.sidebarCtas %}
      {% include 'partials/sidebar/index' %}
  {% endif %}
</div>
</div>
{% endblock %}