{% extends 'layout' %}

{% block content %}



<div class="content-wrapper">

	{% include "partials/heroSlider" %}

	<div class="content-wrapper__inner">

	<div class="content-blocks">

		{% include "_modules/_controller" %}
	</div>
  
	{% if entry.sidebarCtas %}
      {% include 'partials/sidebar/index' %}
  {% endif %}
</div>
</div>
{% endblock %}