
<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <title>GunSafetyInfo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
  <meta name="referrer" content="origin-when-cross-origin" />
  <link rel="stylesheet" type="text/css" href="{{ siteUrl }}css/main.css">

    
  {% if entry.heroSlider|length %}

    <link rel="stylesheet" type="text/css" href="{{ siteUrl }}css/vendor/swiper.min.css">
    <script src="{{ siteUrl }}js/vendor/swiper.min.js"></script>
   
    
  {% endif %}
</head>
<body class="ltr">
  {% include 'globals/nav' %}
    <main class="content">
      {% block content %}
      {% endblock %}
    </main>


  {% include 'globals/footer' %}
{#   {% if entry.heroSlider|length %}
    
  {% endif %} #}
    


</body>
</html>