{% extends 'layout' %}

{% block content %}


<div class="content-wrapper">




	<div class="content-wrapper__inner">


	<div class="content-blocks {{entry.slug}}">
		<h1>{{entry.title}}</h1>

		{% include "_modules/_controller" %}
	</div>
  
	{% if entry.sidebarCtas %}
      {% include 'partials/sidebar/index' %}
  {% endif %}
</div>
</div>
{% endblock %}