<section>
	<div class="paragraph-block">
		<div class="paragraph-block__header">
			<h2>
				{{module.header}}
			</h2>
		</div>
		<div class="paragraph-block__paragraph">
			<p>
				{{module.paragraph}}
			</p>
		</div>
	</div>

</section>