<section>
	<div class="photo-gallery">
		{% for card in module.photoInformation %}
			{% set image = card.image.one() %}
			<div class="photo-gallery__card">
				<img src="{{image.url}}">
				<p>{{card.description}}</p>
			</div>
		{% endfor %}
	</div>
</section>
