{% set image = module.image.one() %}

<div class="split-text-image">
	<div class="split-text-image__text">
		<p>{{module.text}}</p>
	</div>
	<div class="split-text-image__image">
		<img src="{{image.url}}" />
	</div>
</div>