{# the need for a different colored title box on the youth page
prompted me to duplicate the original titled box
and put a color on it. This was done to aviod all title box
data being deleted #}

<div class="titled-box-green">
	<div class="titled-box__title">
		<h5>{{module.boxTitle}}</h5>
	</div>
	<div class="titled-box__content">
  		<p>{{module.boxContent}}</p>
	</div>
</div>