<section>
	<div class="youtube-videos">
		{% for video in module.tubeUrls %}
			<div class="youtube-videos__video youtube-videos__video--{{module.numberOfColumns}}">
				<iframe src="{{video.videoUrl}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<p>{{video.videoTitle}}</p>
			</div>
		{% endfor %}
	</div>
</section>
